@using prjGeo.Commons;
@using prjGeo.Models.Sys;
@using prjGeo.Models;
@using prjGeo.Web;
@{
    Layout = "~/Views/Shared/_Index_Layout.cshtml";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/jquery-easyui-1.5/locale/easyui-lang-zh_CN.js"></script> 
    <title>@ViewBag.Title</title>
    <style type="text/css">
        table.gridtable {
            font-family: verdana,arial,sans-serif;
            font-size: 11px;
            color: #333333;
            border-width: 1px;
            border-color: #666666;
            border-collapse: collapse;
        }

            table.gridtable th {
                border-width: 1px;
                padding: 8px;
                border-style: solid;
                border-color: #666666;
                background-color: #dedede;
            }

            table.gridtable td {
                border-width: 1px;
                padding: 8px;
                border-style: solid;
                border-color: #666666;
                background-color: #ffffff;
            }
    </style>

    <script type="text/javascript">
        var modelData=@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
        $(function () {            
            $('#UserGrid').datagrid({
                url: '/User/GetList',
                //width: $(window).width()-100,
                methord: 'post',
                height: $(window).height() -3,
                fitColumns: false,
                sortName: 'id',
                sortOrder: 'desc',
                idField: modelData.GridInfo.idField,
                pageSize: 5,
                pageList: [5, 10, 20, 30, 40],
                pagination: true,
                striped: true, //奇偶行是否区分
                singleSelect: true,//单选模式
                rownumbers: true,//行号
                toolbar:'#tb',
                columns: eval(modelData.GridInfo.ColInfo)
            }); 
            InitGridSet(modelData.GridColInfo);
        });
     
        function InitGridSet(json)
        {
            if (json==undefined) return;
       
            var th='';
            $.each(json.columns, function (colIndex, col) {
                if (col.Title!=undefined)                
                {
                    th+='<th style="font-size:12px; line-height:21.3px">' + col.Title + '</th>';
                }
            });
            
            $("#myTb").append("<tr>" + th + "</tr>"); 
            //行遍历
            $('#myTb').append('<tbody id="lstCols">')
            $.each(json.rows, function (rowIndex, row) {
                var tr='';
                
                //列遍历
                if (row.fldType='CHK')
                {
                    tr+='<td><input type="checkbox" id="chksel" /></td>';
                }
                if (row.Title!=undefined)
                {
                    tr+='<td align="left" style="font-size:10px; line-height:21.3px">'+row.Title+'</td>';
                }
                else
                {
                    tr+='<td align="center" style="font-size:10px; line-height:21.3px"></td>';
                }
                if (row.fldName!=undefined)
                {
                    tr+='<td align="left" style="font-size:10px; line-height:21.3px">'+row.fldName+'</td>';
                }
                else
                {
                    tr+='<td align="center" style="font-size:10px; line-height:21.3px"></td>';
                }
             
                $("#myTb").append('<tr>'+tr+'</tr>');                 
            });
            $('#myTb').append('</tbody>');
 
        }
        //隐藏某列的方法：     $('#tt').datagrid('hideColumn', 'XXX');  -----其中 XXX 是隐藏列的  field 属性值
        //展示某列的方法：     $('#tt').datagrid('showColumn', 'XXX');  -----其中 XXX 是隐藏列的  field 属性值
        function SetGridStyle(grid)
        {
            var mytable = document.getElementById('myTb');
            var data = [];
            var cols=[];
            var strCol="";
            debugger
            for(var i=1,rows=mytable.rows.length; i<rows; i++){
                for(var j=0,cells=mytable.rows[i].cells.length; j<cells; j++){
                    if(!data[i]){
                        data[i] = new Array();
                    }
                    if (j==0)
                    {
                        if (document.getElementById('chksel').checked)
                        {
                            strCol=mytable.rows[i].cells[2].innerHTML;
                            $("'#UserGrid").datagrid('hideColumn',''+strCol);
                        }
                        else
                        {
                            data[i][j] =0;
                        }
                    }
                    else
                    {
                        data[i][j] = mytable.rows[i].cells[j].innerHTML;
                    }
                }
            }
            return data;


            //var strVar='';
            //debugger
            //var vTable=$("#myTb");
           
            //var chkSel=$('lstCols').find('input:checked') ;
            //$("#myTb").each(function (){ 
            //   // var thisObj = this.parentNode.parentNode; 
            //    var a = $("#myTb").children(); 
            //    for(var i=0;i<a.length;i++){ 
            //        if (chkSel.is('input:checked'))
            //        {
            //            strVar=a.eq(i).text();
            //        }
            //    }

            //});
           

            //vgrid.datagrid('hideColumn','OrganizeName');
        }
        //下面是添加删除修改的操作
        var action = '',id = -1;
        function save(){
            var UserCode =  $("#txtUserCode").textbox('getValue');
            if(UserCode == ''){
                $.messager.alert('系统提示','用户编号不能为空!');
                return;
            }
            var UserName = $("#txtUserName").textbox('getValue');
            if(UserName == ''){
                $.messager.alert('系统提示','用户名称不能为空!');
                return;
            }
            var Password = $("#txtPassword").textbox('getValue');
            if(Password == ''){
                $.messager.alert('系统提示','密码不能为空!');
                return;
            }
            var DeptName = $("#txtDeptName").textbox('getValue');
            if(DeptName == ''){
                $.messager.alert('系统提示','所属部门不能为空!');
                return;
            }
            var OrganizeName = $("#txtOrganizeName").textbox('getValue');
            if(OrganizeName == ''){
                $.messager.alert('系统提示','所属单位不能为空!');
                return;
            }

            var IsEnable = $("#txtIsEnable").textbox('getValue');
            if(IsEnable == ''){
                $.messager.alert('系统提示','是否在职不能为空!');
                return;
            }
            
            var UserCode = $("#txtUserCode").textbox('getValue');
            var UserName = $("#txtUserName").textbox('getValue');
            var Password = $("#txtPassword").textbox('getValue');
            var DeptName = $("#txtDeptName").textbox('getValue');
            var OrganizeName = $("#txtOrganizeName").textbox('getValue');
            var IsEnable = $("#txtIsEnable").textbox('getValue');
            var Descr = $("#txtDescription").textbox('getValue');
 
            var o = {UserCode:UserCode,
                    UserName:UserName,
                    Password:Password,
                    DeptName:DeptName,
                    OrganizeName:OrganizeName,
                    IsEnable:IsEnable,
                    Description:Descr};
            $.ajax({
                url: "/mUser/SaveData",
                type: 'post',
                data: $.toJSON({ action: action, model: o }),
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    if (data.errMsg != '') {
                        $.messager.alert('保存出错',data.errMsg);
                        return;
                    }
                    $('#w').window('close');
                    $("#UserGrid").datagrid('reload');
                },
                error: function (jqXHR, textStatus, errorThrown) {

                }, complete: function () {

                }
            });
        }

        function rowOpt(a){
            $("#txtUserCode").textbox('setValue');
            $("#txtUserName").textbox('setValue');
            $("#txtPassword").textbox('setValue');
            $("#txtDeptName").textbox('setValue');
            $("#txtOrganizeName").textbox('setValue','地球物理勘探设计院');
            $("#txtIsEnable").textbox('setValue');
            $("#txtDescription").textbox('setValue');
 

            if(a == 'modify'){
                var  row = $('#UserGrid').datagrid('getSelected');
                if(row == undefined){
                    $.messager.alert('系统提示','请选择要修改的行!');//2w+
                    return;
                }
                id = row.id;
                $("#txtUserCode").textbox('setValue',row.UserCode);
                $("#txtUserName").textbox('setValue',row.UserName);
                $("#txtPassword").textbox('setValue',row.Password);
                $("#txtElementUnit").textbox('setValue',row.ElementUnit);
                $("#txtDeptName").textbox('setValue',row.DeptName);
                $("#txtOrganizeName").textbox('setValue',row.OrganizeName);
                $("#txtIsEnable").textbox('setValue',row.IsEnable);
                $("#txtDescription").textbox('setValue',row.Description);
            }
            action = a;
            $('#w').window('open');
        }
        function rowDel(){
            var row = $('#UserGrid').datagrid('getSelected');
            if(row == undefined){
                $.messager.alert('系统提示','请选择要删除的行!');
                return;
            }
            $.messager.confirm('系统提示', '你确定要删除所选择的行吗?', function(r){
                if (r){
                    id = row.id;
                    var o ={id:id};
                    $.ajax({
                        url: "/mUser/Delete",
                        type: 'post',
                        data: $.toJSON({ model: o }),
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            if (data.errMsg != '') {
                                $.messager.alert('删除出错',data.errMsg);
                                return;
                            }
                            $("#UserGrid").datagrid('reload');
                        },
                        error: function (jqXHR, textStatus, errorThrown) {

                        }, complete: function () {

                        }
                    });
                }
            });
        }
    
    </script>                                                                                      
 
</head>
<body>
    <div style="width:100%;height:100%;display:block;margin:-2px 0 0 -4px;">
        <div id="cc" class="easyui-layout" fit="true">
            <div id="UserGrid" data-options="region:'center'"></div>
            <div id="tb">
                <div style="margin-bottom:5px">
                    <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="rowOpt('new')">添加</a>
                    <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true" onclick="rowOpt('modify')">修改</a>
                    <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-delete',plain:true" onclick="rowDel()">删除</a> 
                </div>
                <div>
                    查询: <input class="easyui-textbox" type="text" id="txtUserCode" data-options="prompt:'请输入用户编码'" style="width:150px">
                    <input class="easyui-textbox" type="text" id="txtUserName" data-options="prompt:'请输入用户名称'" style="width:150px">
                    <input class="easyui-textbox" type="text" id="txtDept" data-options="prompt:'请输入部门名称'" style="width:150px">
                    <a href="#" class="easyui-linkbutton" iconcls="icon-search" style="width:80px">查询</a>
                </div>
            </div>

        </div>

        <div id="w" class="easyui-window" title="用户管理-新增/修改" data-options="modal:true,closed:true,iconcls:'icon-save'" style="width:670px;height:380px;padding:5px;">
            <table cellpadding="5">
                <tr>
                    <td>用户编码:</td>
                    <td>
                        <input class="easyui-textbox" id="txtUserCode" style="width:120px;" data-options="required:true" />

                    <td>用户名称:</td>
                    <td><input class="easyui-textbox" id="txtUserName" style="width:120px;" data-options="required:true" /></td>

                    <td>用户密码:</td>
                    <td><input class="easyui-textbox" id="txtPassword" style="width:120px;" data-options="required:true" /></td>
                </tr>
                <tr>
                    <td>所属部门:</td>
                    <td><input class="easyui-combobox" id="txtDeptName" style="width:120px;" data-options="
                                                                                                   panelHeight:'auto',
                                                                                                   required:true,
                                                                                                   valueField: 'label',
		                                                                                            textField: 'value',
		                                                                                            data: [{
			                                                                                            label: '化探所',
			                                                                                            value: '化探所'
		                                                                                            },{
			                                                                                            label: '物探所',
			                                                                                            value: '物探所'
		                                                                                            } ]" /></td>

                    <td>所属单位:</td>
                    <td><input class="easyui-textbox" id="txtOrganizeName" style="width:120px;" value="地球物理勘探设计院"  data-options="required:true" /></td>

                    <td>是否在职:</td>
                    <td><input class="easyui-combobox" id="txtIsEnable" style="width:120px;" data-options="
                                                                                                    panelHeight:'auto',
		                                                                                            required:true,
		                                                                                            valueField: 'label',
		                                                                                            textField: 'value',
		                                                                                            data: [{
			                                                                                            label: '在职',
			                                                                                            value: '在职'
		                                                                                            },{
			                                                                                            label: '离职',
			                                                                                            value: '离职'
		                                                                                            } ]" />
                    </td>
                </tr>
                <tr>
                    <td>备注:</td>
                    <td colspan="5"><input class="easyui-textbox" multiline="true"  id="txtDescription" style="width: 100%; height: 120px" /></td> 
                </tr>
            </table>
            <div style="text-align:right;padding:5px">
                <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-save'" onclick="save()" style="width:80px">保存</a>
                <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" onclick="$('#w').window('close')" style="width:80px">取消</a>
            </div>
        </div>

    </div>

</body>


</html>
