body{overflow-y:hidden;}
#mainpic
{
    overflow: hidden;
    width:100%;
    height: 100%;
    background: #2076C3 ;
  /*  background-image:url(~/Content/imgs/mainPic.png);*/
    background-repeat:no-repeat;     
} 