@using prjGeo.Commons;
@using prjGeo.Models.Sys;
@using prjGeo.Models;
@using prjGeo.Web;
@{
    Layout = "~/Views/Shared/_Index_Layout.cshtml";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/jquery-easyui-1.5/locale/easyui-lang-zh_CN.js"></script>
    <title>@ViewBag.Title</title>
    <style type="text/css">
        table.gridtable {
            font-family: verdana,arial,sans-serif;
            font-size: 11px;
            color: #333333;
            border-width: 1px;
            border-color: #666666;
            border-collapse: collapse;
        }

            table.gridtable th {
                border-width: 1px;
                padding: 8px;
                border-style: solid;
                border-color: #666666;
                background-color: #dedede;
            }

            table.gridtable td {
                border-width: 1px;
                padding: 8px;
                border-style: solid;
                border-color: #666666;
                background-color: #ffffff;
            }
    </style>


    <script type="text/javascript">
        var modelData=@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
        $(function () {
            $('#mElementalAbundanceGrid').datagrid({
                url: '/mElementalAbundance/GetList',
                //width: $(window).width()-100,
                methord: 'post',
                height: $(window).height() -3,
                fitColumns: false,
                sortName: 'id',
                sortOrder: 'Asc',
                idField: modelData.GridInfo.idField,
                pageSize: 50,
                pageList: [10, 20, 30, 40,50],
                pagination: true,
                striped: true, //奇偶行是否区分
                singleSelect: true,//单选模式
                rownumbers: true,//行号
                toolbar:'#tb',
                columns: eval(modelData.GridInfo.ColInfo)
            });
            InitGridSet(modelData.GridColInfo);
        });

        function InitGridSet(json)
        {
            if (json==undefined) return;

            var th='';
            $.each(json.columns, function (colIndex, col) {
                if (col.Title!=undefined)
                {
                    th+='<th style="font-size:12px; line-height:21.3px">' + col.Title + '</th>';
                }
            });

            $("#myTb").append("<tr>" + th + "</tr>");
            //行遍历
            $('#myTb').append('<tbody id="lstCols">')
            $.each(json.rows, function (rowIndex, row) {
                var tr='';

                //列遍历
                if (row.fldType='CHK')
                {
                    tr+='<td><input type="checkbox" id="chksel" /></td>';
                }
                if (row.Title!=undefined)
                {
                    tr+='<td align="left" style="font-size:10px; line-height:21.3px">'+row.Title+'</td>';
                }
                else
                {
                    tr+='<td align="center" style="font-size:10px; line-height:21.3px"></td>';
                }
                if (row.fldName!=undefined)
                {
                    tr+='<td align="left" style="font-size:10px; line-height:21.3px">'+row.fldName+'</td>';
                }
                else
                {
                    tr+='<td align="center" style="font-size:10px; line-height:21.3px"></td>';
                }

                $("#myTb").append('<tr>'+tr+'</tr>');
            });
            $('#myTb').append('</tbody>');

            //$("#myTb").append('</tbody>');
            //$("#myTb").append('<tr>');
            //$("#myTb").append('<td></td>');
            //$("#myTb").append('<td><input type="button" value="确定" id="btnOk" /></td>');
            //$("#myTb").append('<td></td>');
            //$("#myTb").append('</tr>');
        }
        //隐藏某列的方法：     $('#tt').datagrid('hideColumn', 'XXX');  -----其中 XXX 是隐藏列的  field 属性值
        //展示某列的方法：     $('#tt').datagrid('showColumn', 'XXX');  -----其中 XXX 是隐藏列的  field 属性值
        function SetGridStyle(grid)
        {
            var mytable = document.getElementById('myTb');
            var data = [];
            var cols=[];
            var strCol="";
            debugger
            for(var i=1,rows=mytable.rows.length; i<rows; i++){
                for(var j=0,cells=mytable.rows[i].cells.length; j<cells; j++){
                    if(!data[i]){
                        data[i] = new Array();
                    }
                    if (j==0)
                    {
                        if (document.getElementById('chksel').checked)
                        {
                            strCol=mytable.rows[i].cells[2].innerHTML;
                            $("'#mElementalAbundanceGrid").datagrid('hideColumn',''+strCol);
                        }
                        else
                        {
                            data[i][j] =0;
                        }
                    }
                    else
                    {
                        data[i][j] = mytable.rows[i].cells[j].innerHTML;
                    }
                }
            }
            return data;


            //var strVar='';
            //debugger
            //var vTable=$("#myTb");

            //var chkSel=$('lstCols').find('input:checked') ;
            //$("#myTb").each(function (){
            //   // var thisObj = this.parentNode.parentNode;
            //    var a = $("#myTb").children();
            //    for(var i=0;i<a.length;i++){
            //        if (chkSel.is('input:checked'))
            //        {
            //            strVar=a.eq(i).text();
            //        }
            //    }

            //});


            //vgrid.datagrid('hideColumn','OrganizeName');
        }

        var action = '',id = -1;
        function save(){
            var Element= $("#txtElement").textbox('getValue') ;
            if(Element == ''){
                $.messager.alert('系统提示','元素名称不能为空!');
                return;
            }
            var AbundanceVal=$("#txtAbundanceVal").numberbox('getValue');
            if(AbundanceVal == ''){
                $.messager.alert('系统提示','丰度值称不能为空!');
                return;
            }
            var o ={Element :Element,AbundanceVal:AbundanceVal
                ,Custom1:$("#txtCustom1").textbox('getValue')
                ,Custom2:$("#txtCustom2").textbox('getValue')
                ,Custom3:$("#txtCustom3").textbox('getValue')
                ,Custom4:$("#txtCustom4").textbox('getValue')
                ,Custom5:$("#txtCustom5").textbox('getValue')
                ,Remarks:$("#txtRemarks").textbox('getValue'),id:id};

            $.ajax({
                url: "/mElementalAbundance/SaveData",
                type: 'post',
                data: $.toJSON({ action: action, model: o }),
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    if (data.errMsg != '') {
                        $.messager.alert('保存出错',data.errMsg);
                        return;
                    }
                    $('#w').window('close');
                    $("#mElementalAbundanceGrid").datagrid('reload');
                },
                error: function (jqXHR, textStatus, errorThrown) {

                }, complete: function () {

                }
            });
        }
        function rowOpt(a){
            $("#txtElement").textbox('setValue');
            $("#txtAbundanceVal").numberbox('setValue');
            $("#txtCustom1").textbox('setValue');
            $("#txtCustom2").textbox('setValue');
            $("#txtCustom3").textbox('setValue');
            $("#txtCustom4").textbox('setValue');
            $("#txtCustom5").textbox('setValue');
            $("#txtRemarks").textbox('setValue');
            if(a == 'modify'){
                var  row = $('#mElementalAbundanceGrid').datagrid('getSelected');
                if(row == undefined){
                    $.messager.alert('系统提示','请选择要修改的行!');//2w+
                    return;
                }
                id = row.id;
                $("#txtElement").textbox('setValue',row.Element);
                $("#txtAbundanceVal").numberbox('setValue',row.AbundanceVal);
                $("#txtCustom1").textbox('setValue',row.Custom1);
                $("#txtCustom2").textbox('setValue',row.Custom2);
                $("#txtCustom3").textbox('setValue',row.Custom3);
                $("#txtCustom4").textbox('setValue',row.Custom4);
                $("#txtCustom5").textbox('setValue',row.Custom5);
                $("#txtRemarks").textbox('setValue',row.Remarks);
            }
            action = a;
            $('#w').window('open');
        }
        function rowDel(){
            var row = $('#mElementalAbundanceGrid').datagrid('getSelected');
            if(row == undefined){
                $.messager.alert('系统提示','请选择要删除的行!');
                return;
            }
            $.messager.confirm('系统提示', '你确定要删除所选择的行吗?', function(r){
                if (r){
                    id = row.id;
                    var o ={id:id};
                    $.ajax({
                        url: "/mElementalAbundance/Delete",
                        type: 'post',
                        data: $.toJSON({ model: o }),
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            if (data.errMsg != '') {
                                $.messager.alert('删除出错',data.errMsg);
                                return;
                            }
                            $("#mElementalAbundanceGrid").datagrid('reload');
                        },
                        error: function (jqXHR, textStatus, errorThrown) {

                        }, complete: function () {

                        }
                    });
                }
            });
        }
        function DoQuery()
        {
            var queryParams = $('#mElementalAbundanceGrid').datagrid('options').queryParams;  
            queryParams={
                Element:$("#txtElement").textbox('getValue')                 
            };
            $("#mElementalAbundanceGrid").datagrid('load',queryParams); 
        }
        function DoClean(){
            $("#txtElement").textbox('setValue',''); 
        }

    </script>

</head>
<body>
    @*<div id="mm" style="width:220px;">
        <div style="align-content:center">

            <label style="font-size:12px;line-height:21.3px"><b>表格列设置</b></label>
        </div>
        <div class="menu-sep"></div>
        <table id="myTb"></table>
        <div class="menu-sep"></div>
        <div style="align-items:center"><input type="button" value="确定" id="btnOk" onclick="SetGridStyle('mElementalAbundanceGrid');" /></div>
    </div>*@

    <div style="width:100%;height:100%;display:block;margin:-8px 0 0 -9px;">
        <div id="cc" class="easyui-layout" fit="true">
            <div id="mElementalAbundanceGrid" data-options="region:'center'"></div>
            <div id="tb">
                <div style="margin-bottom:5px">
                    <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="rowOpt('new')">添加</a>
                    <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true" onclick="rowOpt('modify')">修改</a>
                    <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-delete',plain:true" onclick="rowDel()">删除</a>

                    @*<a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-help',plain:true" style="float:right">帮助</a>
                    <a href="javascript:void(0)" id="mb" class="easyui-menubutton" data-options="menu:'#mm',iconCls:'icon-edit'" style="float:right">设置</a>*@
                </div>
                <div>
                    @*查询: <input class="easyui-textbox" data-options="buttonText:'查询',buttonIcon:'icon-search',prompt:'请输入元素...'" style="width:200px;height:24px;">*@

                    查询: <input class="easyui-textbox" id="txtElement" name="Element" data-options="prompt:'请输入元素'" style="width:200px">
                    <a href="#" class="easyui-linkbutton" iconcls="icon-search" style="width:80px" onclick="DoQuery()">查询</a>
                    <a href="#" class="easyui-linkbutton" iconcls="icon-clear" style="width:80px" onclick="DoClean()">清除</a>
                </div>
            </div>

        </div>

        <div id="w" class="easyui-window" title="元素丰度维护-新增/修改" data-options="modal:true,closed:true,iconcls:'icon-save'" style="width:600px;height:200px;padding:5px;">
            <table cellpadding="5">
                <tr>
                    <td>元素名称:</td>
                    <td><input class="easyui-textbox" id="txtElement" data-options="required:true" style="width:120px;" /></td>
                    <td>丰度值:</td>
                    <td><input class="easyui-numberbox" precision="2" id="txtAbundanceVal" data-options="required:true" style="width:120px;" /></td>

                    <td>预留1:</td>
                    <td><input class="easyui-textbox" id="txtCustom1" style="width:120px;" /></td>
                </tr>
                <tr>
                    <td>预留2:</td>
                    <td><input class="easyui-textbox" id="txtCustom2" style="width:120px;" /></td>

                    <td>预留3:</td>
                    <td><input class="easyui-textbox" id="txtCustom3" style="width:120px;" /></td>
                    <td>预留4:</td>
                    <td><input class="easyui-textbox" id="txtCustom4" style="width:120px;" /></td>
                </tr>
                <tr>
                    <td>预留5:</td>
                    <td><input class="easyui-textbox" id="txtCustom5" style="width:120px;" /></td>
                    <td>备注:</td>
                    <td colspan="3"><input class="easyui-textbox" type="text" id="txtRemarks" /></td>
                </tr>
            </table>
            <div style="text-align:right;padding:5px">
                <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-save'" onclick="save()" style="width:80px">保存</a>
                <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" onclick="$('#w').window('close')" style="width:80px">取消</a>
            </div>
        </div>

    </div>

</body>
</html>
