@using prjGeo.Commons;
@using prjGeo.Models.Sys;
@using prjGeo.Models;
@using prjGeo.Web;
@{
    Layout = "~/Views/Shared/_Index_Layout.cshtml";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/jquery-easyui-1.5/locale/easyui-lang-zh_CN.js"></script>
    <title>@ViewBag.Title</title>
    <style type="text/css">
        table.gridtable {
            font-family: verdana,arial,sans-serif;
            font-size: 11px;
            color: #333333;
            border-width: 1px;
            border-color: #666666;
            border-collapse: collapse;
        }

            table.gridtable th {
                border-width: 1px;
                padding: 8px;
                border-style: solid;
                border-color: #666666;
                background-color: #dedede;
            }

            table.gridtable td {
                border-width: 1px;
                padding: 8px;
                border-style: solid;
                border-color: #666666;
                background-color: #ffffff;
            }
    </style>


    <script type="text/javascript">
        var modelData=@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
        $(function () {
            $('#mProjectGrid').datagrid({
                url: '/mProject/GetList',
                //width: $(window).width()-100,
                methord: 'post',
                height: $(window).height() -3,
                fitColumns: false,
                sortName: 'id',
                sortOrder: 'desc',
                idField: modelData.GridInfo.idField,
                pageSize: 10,
                pageList: [10, 20, 30, 40],
                pagination: true,
                striped: true, //奇偶行是否区分
                singleSelect: true,//单选模式
                rownumbers: true,//行号
                toolbar:'#tb',
                columns: eval(modelData.GridInfo.ColInfo)
 
            });
            InitGridSet(modelData.GridColInfo);
        });

        function InitGridSet(json)
        {
            if (json==undefined) return;

            var th='';
            $.each(json.columns, function (colIndex, col) {
                if (col.Title!=undefined)
                {
                    th+='<th style="font-size:12px; line-height:21.3px">' + col.Title + '</th>';
                }
            });

            $("#myTb").append("<tr>" + th + "</tr>");
            //行遍历
            $('#myTb').append('<tbody id="lstCols">')
            $.each(json.rows, function (rowIndex, row) {
                var tr='';

                //列遍历
                if (row.fldType='CHK')
                {
                    tr+='<td><input type="checkbox" id="chksel" /></td>';
                }
                if (row.Title!=undefined)
                {
                    tr+='<td align="left" style="font-size:10px; line-height:21.3px">'+row.Title+'</td>';
                }
                else
                {
                    tr+='<td align="center" style="font-size:10px; line-height:21.3px"></td>';
                }
                if (row.fldName!=undefined)
                {
                    tr+='<td align="left" style="font-size:10px; line-height:21.3px">'+row.fldName+'</td>';
                }
                else
                {
                    tr+='<td align="center" style="font-size:10px; line-height:21.3px"></td>';
                }

                $("#myTb").append('<tr>'+tr+'</tr>');
            });
            $('#myTb').append('</tbody>'); 
        }
        //隐藏某列的方法：     $('#tt').datagrid('hideColumn', 'XXX');  -----其中 XXX 是隐藏列的  field 属性值
        //展示某列的方法：     $('#tt').datagrid('showColumn', 'XXX');  -----其中 XXX 是隐藏列的  field 属性值
        function SetGridStyle(grid)
        {
            var mytable = document.getElementById('myTb');
            var data = [];
            var cols=[];
            var strCol="";
            debugger
            for(var i=1,rows=mytable.rows.length; i<rows; i++){
                for(var j=0,cells=mytable.rows[i].cells.length; j<cells; j++){
                    if(!data[i]){
                        data[i] = new Array();
                    }
                    if (j==0)
                    {
                        if (document.getElementById('chksel').checked)
                        {
                            strCol=mytable.rows[i].cells[2].innerHTML;
                            $("'#mProjectGrid").datagrid('hideColumn',''+strCol);
                        }
                        else
                        {
                            data[i][j] =0;
                        }
                    }
                    else
                    {
                        data[i][j] = mytable.rows[i].cells[j].innerHTML;
                    }
                }
            }
            return data;


            //var strVar='';
            //debugger
            //var vTable=$("#myTb");

            //var chkSel=$('lstCols').find('input:checked') ;
            //$("#myTb").each(function (){
            //   // var thisObj = this.parentNode.parentNode;
            //    var a = $("#myTb").children();
            //    for(var i=0;i<a.length;i++){
            //        if (chkSel.is('input:checked'))
            //        {
            //            strVar=a.eq(i).text();
            //        }
            //    }

            //});


            //vgrid.datagrid('hideColumn','OrganizeName');
        }

        var action = '',id = -1;
        function save(){
            var Recid= $("#txtRecid").textbox('getValue') ;
            if(Recid == ''){
                $.messager.alert('系统提示','项目编码不能为空!');
                return;
            }
            var Ccode= $("#txtCcode").textbox('getValue') ;
            if(Ccode == ''){
                $.messager.alert('系统提示','项目编码不能为空!');
                return;
            }
            var Cname= $("#txtCname").textbox('getValue')  ;
            if(Cname == ''){
                $.messager.alert('系统提示','项目名称不能为空!');
                return;
            }
            var Clocation= $("#txtClocation").textbox('getValue')  ;

            var o ={Recid:Recid
                    ,Ccode :Ccode
                    ,CName:Cname
                    ,Clocation:Clocation
                    ,Province:$("#txtProvince").textbox('getValue')
                    ,City:$("#txtCity").textbox('getValue')
                    ,County:$("#txtCounty").textbox('getValue')
                    ,Town:$("#txtTown").textbox('getValue')
                    ,Village:$("#txtVillage").textbox('getValue')
                    ,Remarks:$("#txtRemarks").textbox('getValue')
                    ,id:id};
            $.ajax({
                url: "/mProject/SaveData",
                type: 'post',
                data: $.toJSON({ action: action, model: o }),
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    if (data.errMsg != '') {
                        $.messager.alert('保存出错',data.errMsg);
                        return;
                    }
                    $('#w').window('close');
                    $("#mProjectGrid").datagrid('reload');
                },
                error: function (jqXHR, textStatus, errorThrown) {

                }, complete: function () {

                }
            });
        }
        function rowOpt(a){
            $("#txtRecid").combobox('setValue');
            $("#txtCcode").textbox('setValue');
            $("#txtCname").textbox('setValue');
            $("#txtClocation").textbox('setValue');
            $("#txtProvince").textbox('setValue');
            $("#txtCity").textbox('setValue');
            $("#txtCounty").textbox('setValue');
            $("#txtTown").textbox('setValue');
            $("#txtVillage").textbox('setValue');
            $("#txtRemarks").textbox('setValue');


            $('#txtRecid').combobox({
                url:"/mArea/GetListData",
                required: true,
                valueField: 'id',
                textField: 'Memo'
            });

            if(a == 'modify'){
                var  row = $('#mProjectGrid').datagrid('getSelected');
                if(row == undefined){
                    $.messager.alert('系统提示','请选择要修改的行!');//2w+
                    return;
                }
                id = row.id;
                $("#txtRecid").combobox('setValue',row.Recid);
                $("#txtCcode").textbox('setValue',row.Ccode);
                $("#txtCname").textbox('setValue',row.CName);
                $("#txtClocation").textbox('setValue',row.Clocation);
                $("#txtProvince").textbox('setValue',row.Province);
                $("#txtCity").textbox('setValue',row.City);
                $("#txtCounty").textbox('setValue',row.County);
                $("#txtTown").textbox('setValue',row.Town);
                $("#txtVillage").textbox('setValue',row.Village);
                $("#txtRemarks").textbox('setValue',row.Remarks);
            }
            action = a;
            $('#w').window('open');
        }
        function rowDel(){
            var row = $('#mProjectGrid').datagrid('getSelected');
            if(row == undefined){
                $.messager.alert('系统提示','请选择要删除的行!');
                return;
            }
            $.messager.confirm('系统提示', '你确定要删除所选择的行吗?', function(r){
                if (r){
                    id = row.id;
                    var o ={id:id};
                    $.ajax({
                        url: "/mProject/Delete",
                        type: 'post',
                        data: $.toJSON({ model: o }),
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            if (data.errMsg != '') {
                                $.messager.alert('删除出错',data.errMsg);
                                return;
                            }
                            $("#mProjectGrid").datagrid('reload');
                        },
                        error: function (jqXHR, textStatus, errorThrown) {

                        }, complete: function () {

                        }
                    });
                }
            });
        }

    </script>

</head>
<body>
    <div id="mm" style="width:220px;">
        <div style="align-content:center">

            <label style="font-size:12px;line-height:21.3px"><b>表格列设置</b></label>
        </div>
        <div class="menu-sep"></div>
        <table id="myTb"></table>
        <div class="menu-sep"></div>
        <div style="align-items:center"><input type="button" value="确定" id="btnOk" onclick="SetGridStyle('mProjectGrid');" /></div>
    </div>

    <div style="width:100%;height:100%;display:block;margin:-2px 0 0 -4px;">
        <div id="cc" class="easyui-layout" fit="true">
            <div id="mProjectGrid" data-options="region:'center'"></div>
            <div id="tb">
                <div style="margin-bottom:5px">
                    <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="rowOpt('new')">添加</a>
                    <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true" onclick="rowOpt('modify')">修改</a>
                    <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-delete',plain:true" onclick="rowDel()">删除</a>
                    <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-help',plain:true" style="float:right">帮助</a>
                    <a href="javascript:void(0)" id="mb" class="easyui-menubutton" data-options="menu:'#mm',iconCls:'icon-edit'" style="float:right">设置</a>
                </div>
                <div>
                    查询: <input class="easyui-textbox" data-options="prompt:'请输入地质名称\中文名称'" style="width:150px">
                    <a href="#" class="easyui-linkbutton" iconCls="icon-search" style="width:80px">查询</a>
                </div>
            </div>

        </div>

        <div id="w" class="easyui-window" title="项目维护-新增/修改" data-options="modal:true,closed:true,iconcls:'icon-save'"
             style="width:620px;height:230px;padding:5px;">
            <table cellpadding="5">
                <tr>
                    <td>分部名称:</td>
                    <td><input class="easyui-combobox" id="txtRecid" data-options="required:true" style="width:120px;" /></td>

                    <td>项目编码:</td>
                    <td><input class="easyui-textbox" id="txtCcode" data-options="required:true" style="width:120px;" /></td>

                    <td>项目名称:</td>
                    <td><input class="easyui-textbox" id="txtCname" data-options="required:true" style="width:120px;" /></td>
                </tr>
                <tr>
                    <td>项目位置:</td>
                    <td><input class="easyui-textbox" id="txtClocation" style="width:120px;" /></td>

                    <td>所在省:</td>
                    <td><input class="easyui-textbox" id="txtProvince" style="width:120px;" /></td>
                    <td>所在市:</td>
                    <td><input class="easyui-textbox" id="txtCity" style="width:120px;" /></td>
                </tr>
                <tr>
                    <td>所在县:</td>
                    <td><input class="easyui-textbox" id="txtCounty" style="width:120px;" /></td>
                    <td>所在镇\乡:</td>
                    <td><input class="easyui-textbox" id="txtTown" style="width:120px;" /></td>

                    <td>所在村:</td>
                    <td><input class="easyui-textbox" id="txtVillage" style="width:120px;" /></td>
                </tr>
                <tr>
                    <td>备注:</td>
                    <td colspan="5"><input class="easyui-textbox" id="txtRemarks" /></td>
                </tr>

            </table>
            <div style="text-align:right;padding:5px">
                <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-save'" onclick="save()" style="width:80px">保存</a>
                <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" onclick="$('#w').window('close')" style="width:80px">取消</a>
            </div>
        </div>

    </div>

</body>
</html>
