@using prjGeo.Commons;
@using prjGeo.Models.Sys;
@using prjGeo.Models;
@using prjGeo.Web;
@{
    Layout = "~/Views/Shared/_Index_Layout.cshtml";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/jquery-easyui-1.5/locale/easyui-lang-zh_CN.js"></script>
    <title>@ViewBag.Title</title>
    <style type="text/css">
        table.gridtable {
            font-family: verdana,arial,sans-serif;
            font-size: 11px;
            color: #333333;
            border-width: 1px;
            border-color: #666666;
            border-collapse: collapse;
        }

            table.gridtable th {
                border-width: 1px;
                padding: 8px;
                border-style: solid;
                border-color: #666666;
                background-color: #dedede;
            }

            table.gridtable td {
                border-width: 1px;
                padding: 8px;
                border-style: solid;
                border-color: #666666;
                background-color: #ffffff;
            }
    </style>

    <script type="text/javascript">

        var modelData=@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
        $(function () {
            $('#userGrid').datagrid({
                url: '/UserManager/GetList',
                //width: $(window).width()-100,
                methord: 'post',
                height: $(window).height() -3,
                fitColumns: false,
                sortName: 'id',
                sortOrder: 'desc',
                idField: modelData.GridInfo.idField,
                pageSize: 10,
                pageList: [ 10, 20, 30, 40],
                pagination: true,
                striped: true, //奇偶行是否区分
                singleSelect: true,//单选模式
                rownumbers: true,//行号
                toolbar:'#tb',
                columns: eval(modelData.GridInfo.ColInfo)
                //onLoadSuccess: function (data) {   //隐藏表头的checkbox
                //    $("#UserGrid").parent().find("div .datagrid-header-check").children("input[type=\"checkbox\"]").eq(0).attr("style", "display:none;");

                //    if (data){
                //        var rowData = data.rows;
                //        $.each(rowData, function (idx, val) {
                //            if (val.IsEnable) {
                //                $("#UserGrid").datagrid("selectRow", idx);
                //            }
                //        });
                //    }
                //}
            });
            InitGridSet(modelData.GridColInfo);
        });

        function InitGridSet(json)
        {
            if (json==undefined) return;

            var th='';
            $.each(json.columns, function (colIndex, col) {
                if (col.Title!=undefined)
                {
                    th+='<th style="font-size:12px; line-height:21.3px">' + col.Title + '</th>';
                }
            });

            $("#myTb").append("<tr>" + th + "</tr>");
            //行遍历
            $('#myTb').append('<tbody id="lstCols">')
            $.each(json.rows, function (rowIndex, row) {
                var tr='';

                //列遍历
                if (row.fldType='CHK')
                {
                    tr+='<td><input type="checkbox" id="chksel" /></td>';
                }
                if (row.Title!=undefined)
                {
                    tr+='<td align="left" style="font-size:10px; line-height:21.3px">'+row.Title+'</td>';
                }
                else
                {
                    tr+='<td align="center" style="font-size:10px; line-height:21.3px"></td>';
                }
                if (row.fldName!=undefined)
                {
                    tr+='<td align="left" style="font-size:10px; line-height:21.3px">'+row.fldName+'</td>';
                }
                else
                {
                    tr+='<td align="center" style="font-size:10px; line-height:21.3px"></td>';
                }

                $("#myTb").append('<tr>'+tr+'</tr>');
            });
            $('#myTb').append('</tbody>');

            //$("#myTb").append('</tbody>');
            //$("#myTb").append('<tr>');
            //$("#myTb").append('<td></td>');
            //$("#myTb").append('<td><input type="button" value="确定" id="btnOk" /></td>');
            //$("#myTb").append('<td></td>');
            //$("#myTb").append('</tr>');
        }
        //隐藏某列的方法：     $('#tt').datagrid('hideColumn', 'XXX');  -----其中 XXX 是隐藏列的  field 属性值
        //展示某列的方法：     $('#tt').datagrid('showColumn', 'XXX');  -----其中 XXX 是隐藏列的  field 属性值
        function SetGridStyle(grid)
        {
            var mytable = document.getElementById('myTb');
            var data = [];
            var cols=[];
            var strCol="";
            debugger
            for(var i=1,rows=mytable.rows.length; i<rows; i++){
                for(var j=0,cells=mytable.rows[i].cells.length; j<cells; j++){
                    if(!data[i]){
                        data[i] = new Array();
                    }
                    if (j==0)
                    {
                        if (document.getElementById('chksel').checked)
                        {
                            strCol=mytable.rows[i].cells[2].innerHTML;
                            $("'#mElementGrid").datagrid('hideColumn',''+strCol);
                        }
                        else
                        {
                            data[i][j] =0;
                        }
                    }
                    else
                    {
                        data[i][j] = mytable.rows[i].cells[j].innerHTML;
                    }
                }
            }
            return data;
        }

    //查询
    function onKeyEnter() {
        var keyword = mini.get("txtKeyword").getValue();
        grid.load({ keyword: keyword });
    }
    //添加窗口
    optWin = function (falg) {
        //var win = mini.get('optWinContent');
        //var form = new mini.Form("#fromContent");
        if (falg == 1) {
            mini.open({
                url: "/html/Sys_Permissions/optUserManager.html",
                title: "新增员工", width: 600, height: 380,
                onload: function () {
                    var iframe = this.getIFrameEl();
                    var data = { action: "new" };
                    iframe.contentWindow.SetData(data);
                },
                ondestroy: function (action) {
                    if (action == "save") {
                        grid.reload();
                    }
                }
            });
        } else {
            var gridMain = mini.get('gridMain');
            var selected = gridMain.getSelected();
            if (!selected) {
                mini.alert("请先选择，再进行操作！");
                return;
            }
            if (selected.length > 1) {
                mini.alert("只能选择一条记录进行操作");
                return;
            }
            mini.open({
                url: "/html/Sys_Permissions/optUserManager.html",
                title: "修改员工", width: 600, height: 380,
                onload: function () {
                    var iframe = this.getIFrameEl();
                    var data = { action: "edit", loginId: selected.Id };
                    iframe.contentWindow.SetData(data);
                },
                ondestroy: function (action) {
                    //   console.log(action);
                    if (action == "save") {
                        grid.reload();
                    }
                }
            });
        }
    };


    //删除
    function deleteWin() {
        var grid = mini.get("gridMain");
        var rows = grid.getSelecteds();
        if (rows.length > 0) {
            var roleData = [];
            for (var i = 0; i < rows.length; i++) {
                roleData.push(rows[i].Id);
            }
            mini.confirm("确定删除选中记录？", "询问", function (action) {
                if (action == "ok") {
                    $.ajax({
                        url: "/UserManager/DeleteUser",
                        type: "POST",
                        data: $.toJSON({ loginId: roleData }),
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            if (data.errMsg != "") {
                                mini.alert(data.errMsg);
                                return;
                            }
                            grid.reload();//重新刷新
                        },
                        error: function (XMLHttpRequest, textStatus) {
                            mini.alert("保存失败！" + XMLHttpRequest.responseText);
                        }
                    });
                }
            });

        } else {
            mini.alert("请选中一条记录");
        }
    };

    </script>

</head>
<body>

    <div id="mm" style="width:220px;">
        <div style="align-content:center">

            <label style="font-size:12px;line-height:21.3px"><b>表格列设置</b></label>
        </div>
        <div class="menu-sep"></div>
        <table id="myTb"></table>
        <div class="menu-sep"></div>
        <div style="align-items:center"><input type="button" value="确定" id="btnOk" onclick="SetGridStyle('userGrid');" /></div>
    </div>
    <div style="width:100%;height:100%;display:block;margin:-2px 0 0 -4px;">
        <div id="cc" class="easyui-layout" fit="true">
            <div id="userGrid" data-options="region:'center'"></div>
            <div id="tb">
                <div style="margin-bottom:5px">
                    <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="rowOpt('new')">添加</a>                   
                    <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true" onclick="rowOpt('modify')">修改</a>
                    <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-delete',plain:true" onclick="rowDel()">删除</a>
                    <a href="javascript:void(0)" id="mb" class="easyui-menubutton" data-options="menu:'#mm',iconCls:'icon-edit'" style="float:right">设置</a>
                </div>
                <div>
                    查询: <input class="easyui-textbox" data-options="prompt:'请输入登录名\姓名\邮箱\手机'" style="width:150px">

                    <a href="#" class="easyui-linkbutton" iconcls="icon-search" style="width:80px">查询</a>
                </div>
            </div>
        </div>
        <div id="w" class="easyui-window" title="基本元素-新增/修改" data-options="modal:true,closed:true,iconcls:'icon-save'" style="width:670px;height:420px;padding:5px;">
            <div style="padding:5px;">
                <table style="table-layout:fixed;">
                    <tbody>
                        <tr>
                            <td class="tdlabel">用户帐号：</td>
                            <td>
                                <input type="text" class="mini-textbox" required="true" placeholder="请输入用户帐号" name="LoginID" />
                            </td>
                            <td class="tdlabel">用户姓名：</td>
                            <td>
                                <input type="text" class="mini-textbox" required="true" placeholder="请输入用户姓名" name="LoginName" />
                            </td>
                        </tr> 
                        <tr>
                            <td class="tdlabel">电子邮箱：</td>
                            <td>
                                <input type="text" class="mini-textbox" placeholder="请输入电子邮箱" name="SecurityEmail" />
                            </td>
                            <td class="tdlabel">联系号码：</td>
                            <td>
                                <input type="text" class="mini-textbox" placeholder="请输入联系号码" name="Cellphone" />
                            </td>
                        </tr>

                        <tr>
                            <td class="tdlabel">所在部门：</td>
                            <td>
                                <input placeholder="请输入所在部门" name="DeptCode"
                                       class="mini-treeselect" url="/DeptManager/GetData" multiselect="false"
                                       textfield="DeptName" valuefield="DeptCode" parentfield="DeptCodeParent" checkrecursive="true" />
                            </td>

                            <td class="tdlabel">所在职务：</td>
                            <td>
                                <input type="text" class="mini-textbox" placeholder="请输入所在职务" name="JobTitle" />
                            </td>
                        </tr>
                        <tr>
                            <td class="tdlabel">是否管理员：</td>
                            <td>
                                <input id="txtIsAdmin" name="IsAdmin" class="mini-combobox"
                                       data="[{Value:true,Text:'是'},{Value:false,Text:'否'}]" valuefield="Value" textfield="Text" />
                            </td>
                            <td class="tdlabel">是否启用：</td>
                            <td>
                                <input id="txtIsUseStop" name="IsUseStop" class="mini-combobox"
                                       data="[{Value:true,Text:'是'},{Value:false,Text:'否'}]" valuefield="Value" textfield="Text" />

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div style="text-align:right;padding:5px">
                <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-save'" onclick="save()" style="width:80px">保存</a>
                <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" onclick="$('#w').window('close')" style="width:80px">取消</a>
            </div>
        </div>
    </div>

</body>
</html>